.toolbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px 10px 20px;
  box-sizing: border-box;
  box-shadow: 0 3px 3px rgba(0,0,0,.2);
  background: #06683f;
}

.language {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 10px;
}

.language button {
  width: 31px;
  height: 21px;
  margin-right: 10px;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.language button.pt {
  background: url('./img/pt_flag.jpg') 0 0 no-repeat;
}

.language button.en {
  background: url('./img/en_flag.jpg') 0 0 no-repeat;
}

.language button.active {
  height: 26px;
  border-bottom: 5px solid #fff;
}

.menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 10px 0;
}

.menu button {
  width: 100px;
  margin-right: 20px;
  padding: 3px;
  box-sizing: border-box;
  background: #e8f2f9;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: #06683f;
}

.menu button.active {
  background: #fff;
  color: #333;
}

@media only screen and (max-width: 568px) {
  .toolbar {
    padding: 5px 15px;
  }

  .menu {
    padding: 10px 0 0;
    flex-flow: row wrap;
  }
  
  .menu button {
    margin: 0 10px 10px 0;
  }

  .language {
    flex-flow: column nowrap;
    justify-content: flex-start;
  }

  .language button {
    margin: 0 0 7px 0;
  }

  .language button:last-child { margin: 0; }
}

